[submodule "cmd/course-rest"]
	path = cmd/course-rest
	url = https://github.com/al1enjesus/course-rest
[submodule "cmd/hw_07/course-rest"]
	path = cmd/hw_07/course-rest
	url = https://github.com/al1enjesus/course-rest
